<section class="pagination">
    <% if (pages > 0) { %>
    <% if (current == 1) { %>
    <a class="disabled">First</a></li>
    <% } else { %>
    <a href="?page=1">First</a>
    <% } %>
    <% let  i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if (i !== 1) { %>
    <a class="disabled">...</a>
    <% } %>
    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
    <% if (i === current) { %>
    <a style=" background: #00695c; color: white;"><%= i %></a>
    <% } else { %>
    <a href="?page=<%= i %>"><%= i %></a>
    <% } %>
    <% if (i == Number(current) + 4 && i < pages) { %>
    <a class="disabled">...</a>
    <% } %>
    <% } %>
    <% if (current === pages) { %>
    <a class="disabled">Last</a>
    <% } else { %>
    <a href="?page=<%=pages%>">Last</a>
    <% } %>

    <% } %>
</section>