<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weclome</title>
</head>

<body>
    <h2>Reset Password!!</h2>
    <p>Forgot your password , submit a request with your new password and password confirm to
        <a href="<%=url%>">Password Reset Link</a>
        If you didnt forget your password , ignore this message
    </p>

</body>

</html>