<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weclome</title>
</head>

<body>
    <p> Welcome to ur app <%=email%> We are glad to be of your service</p>
    <p> We're all a big familiy here, so make sure to upload your user photo so we get to know you a bit better!</p>

</body>

</html>